* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e0e0e0;
}


.navbar {
    background-color: #0c2d52; 
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    height: 100px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px;
}

.nav-links {
    display: flex;
    list-style: none;
    font-weight: bolder;
    font-size: 2rem;
}

.nav-links li {
    padding: 0 10px;
}

.menu-btn {
    display: none;
    background: none;
    border: 2px solid white;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #1b416d;
        position: absolute;
        top: 100px;
        left: 0;
        width: 80%;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        padding: 15px 0;
        border-bottom: 1px solid rgb(0, 0, 0);
    }

    .menu-btn {
        display: block;
    }
}